<%= link_to "Edit Post", edit_post_path(@post) %>
<%= link_to "Delete Post", post_path(@post), method: :delete %>
<%= link_to "Back", posts_path %>
<h1>Title: <%= @post.title%></h1>
<h2>Body: <%= @post.body%></h2>
<h2>By: <%= @post.user.first_name%></h2>


<%= link_to "Add new comment", new_post_comment_path(@post) %>

<% @post.comments.each do |comment| %>
  <p>	<%= comment.reply %>
    <%= link_to "Edit", edit_post_comment_path(@post, comment) %> |
    <%= link_to "Delete", post_comment_path(@post, comment), method: :delete %>
  </p>
<% end %>
